.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 50px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: normal;
  margin: 9px 0 8px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 289px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 221px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 166px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 105px;
  }
}.u-section-2 {
  background-image: url("images/b3460cfff01fad2b3be7bb05f7e3966033bdd2cb4259f575f874117d2f64e495e34995777367225faf5e90950ad7f9447c3d250c46cddad10c6aab_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 887px;
}

.u-section-2 .u-custom-html-1 {
  min-height: 755px;
  margin-top: 11px;
  margin-bottom: 60px;
  animation-duration: 1000ms;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-2 .u-custom-html-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 560px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 420px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 264px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 88px;
}

.u-section-3 .u-text-1 {
  margin: 19px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    font-weight: normal;
  }
}